<div class="col-sm-9">
<h1 class="text-center">Login Here</h1>
<form>
    
    <div class="form-group">
      <label for="emailid">Email address:</label>
      <input type="emailid" class="form-control" id="emailid" [(ngModel)]="reg.emailid">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" [(ngModel)]="reg.password">
    </div>
   
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
