<div class="col-sm-9">
    <h1 class="text-center">Admin Login Here</h1>
    <form>
        <div class="form-group">
            <label for="Contact">Contact No:</label>
          <input type="tel" class="form-control" id="Contact" name="Contact">
        </div>
        <div class="form-group">
          <label for="emailid">Email address:</label>
          <input type="emailid" class="form-control" id="emailid">
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" class="form-control" id="password" name="password">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    
